body{
    background-color: #E6EFED;
    text-shadow: none;
    scroll-behavior: smooth;
}

h3, .h3 {
    font-size: 20px;
}

.navbar{
    background-color: white;
    border: none;
    padding: 0px 10px;
    margin-bottom: 0;
}

.navbar-header{
    width: 100%;
}

#counter{
    font-family: Ebrima;
}

.navbar-header .btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-header h4{
    font-family: Ebrima;
    margin: auto;
    color: white;
    padding: 18px 10px;
    width: 40%;
    text-align: center;
}

.navbar-default{
    background-color: #1C1D30 !important;
    background-image: none;
    color: white;
    box-shadow: none;
    border: none;
    border-radius: 2px;
    padding: 0px 3px;
}


.navbar-default .navbar-toggle{
    color: white;
    height: 39px;
    background-color: #176BC4 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background-color: #1C1D30;
    opacity: 0.8;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-brand{
    width: 120px;
    height: 30px;
    padding:0;
    padding-left:14px;
}

#searchBox > div{
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px
}

.col-xs-12{
    padding: 0px;
    margin: auto;
}

#advertisementBlock{
    color: #736C61;
    top: 10px;
}

#advertisementBlock .form-group{
    padding: 8px 10px;
}

#advertisementBlock .list-group{
    margin: 8px 3px;
}

.list-group .list-group-item{
    padding: 2px 10px;
}

.list-group .list-group-item > label{
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 30px;
    cursor: pointer;
    font-weight: normal;
}

.help-block{
    display: none;
}

#post{
    background-color: #C88A1C !important;
    color: white;
    font-size: 1.1em;
    font-family: Montserrat,Arial,Helvetica,"Lucida Grande","Lucida Sans",Tahoma,Verdana,sans-serif;
}

h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

.preview > img{
    max-width:100%;
    max-height:100%;
}

.progress{
    height: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fileInfo .name{
    margin-bottom: 5px;
    line-height: 2;
    width: 65%;
}

.fileInfo > div{
    float: left;
}

.progress-bar-success{
    background-image: linear-gradient(to bottom, #176BC4 0px, #176BC4 100%) !important;
    background-repeat: repeat-x;
}

.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}


.carousel{
    max-width: 640px;
    cursor: pointer;
    padding: 3px;
    margin: auto;
}

.carousel img{
    border-radius: 1px;
    margin: auto;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: 450px;
    min-height: 100% important;
    overflow:hidden;
}

.carousel .favorite{
    position: absolute;
    z-index: 999999;
    background-color: #736C61;
    color: white;
    border: 10px dashed #736C61;
    top: 16px;
    left: -8px;
    font-size: 1em;
    text-align: center;
    font-family: Cooper Std;
    opacity: 0.8;
    
}

.carousel .favorite > span{
    vertical-align: middle;
}

.carousel .carousel-caption{
    width: 100%;
    height: 30px;
    font-weight: bold;
    bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    top: 88%;
    left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    float: left;
}

.carousel .data{
    height: 25px; 
    text-overflow: ellipsis;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 500;
    display:inline-block;
    width:100%;
    text-shadow: none;
    margin-top: 10px;
    /* Fallback for web browsers that don't support RGBa */
    /*background-color: rgb(0, 0, 0);*/
    /* RGBa with 0.6 opacity */
    /*background-color: rgba(0, 0, 0, 0.9);*/
    /* For IE 5.5 - 7*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);*/
    /* For IE 8*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";*/
}

.carousel .price{
    display: block;
    float: right;
    color: #C88A1C;
    font-size: 1.2em;
	font-family: LilienthalGrotesk;
	font-weight: 600;
    text-align: center;
    padding-right: 5px;
    padding-top: 3px;
}

.carousel .info{
    float: left;
    font-size: 0.9em;
    padding-left: 5px;
    text-align: center;
    width: 75%;
}

.carousel .info a{
    color: #1C1D30;
}

.carousel .info .cm{
    text-transform: lowercase;
}

.carousel .info:hover{
    text-decoration: underline;
}

.carousel-control.right, .carousel-control.left{
    background-repeat: no-repeat;
    background-position: center;
    height: 88%;
    opacity: 0.6;
}

.carousel-control.right{
    background-image: url(/img/arrow-right.png);
}

.carousel-control.left{
    background-image: url(/img/arrow-left.png);
}
/*
.carousel-control .chevron-left:hover{
    opacity: 0.3;
}

.carousel-control .chevron-right:hover{
    opacity: 0.3;
}

.carousel-control .chevron-left{
    background-image: url(/img/arrow-left.png);
    background-position: 0% 47%;
    margin-right: 40%;
    height: 100%;
    opacity: 0.9;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.carousel-control .chevron-right{
    background-image: url(/img/arrow-right.png);
    background-position: 0% 47%;
    margin-left: 40%;
    height: 100%;
    opacity: 0.9;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}*/


@font-face {
    font-family: LilienthalGrotesk;
    src: url("/fonts/LilienthalGrotesk.otf") format("opentype");
}

.footer{
    background-color: #E6EFED;
    border: none;
    height: 20px;
    margin-top: 50px;
}

.navbar-collapse.in{
    overflow-y: visible;
}

#generalInfo, #ownerInfo{
    list-style-type: none;
}

#generalInfo span{
    font-size: 0.8em;
    font-family: LilienthalGrotesk;
}

#carInfo{
    padding: 10px 20px;
}

.modal-title{
    padding-left: 10px;
}

.btn{
    border-radius: 1px;
    font-family: Ebrima;
}

.btn-default{
    background-image: none;
    font-size: 1em;
}

.btn-operational{
    font-family: Ebrima;
    font-size: 0.9em !important;
    font-weight: bold !important;
    line-height: 1.6;
    color: #E6EFED;
    background-color: #176BC4 !important;
    color: white;
    max-width: 400px;
}

.btn-operational:hover, .btn-operational:focus, .btn-operational:active{
    color: lightgray;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background-color: white;
}

#newAdvertisement{
    background-color: transparent;
    color: #E6EFED;
    margin-right: 20px;
}

#newAdvertisement:focus, #newAdvertisement:hover{
    opacity: 0.9;
}

#navbar{
    padding-left: 2px;
    padding-right: 2px;
}

#dynamic-content .row > div{
    padding: 5px;
    
}

#previews > div{
    padding: 10px;
    margin-top: 10px;
}

#actions > div{
    margin-top: 15px;
}

.modal-content{
	border-radius: 2px;
}

.aliceblue {
    background-color: aliceblue;
}

.white {
    background-color: white;
}

@media only screen and (min-width:992px){
        /* styles for browsers larger than 960px; */
        .navbar-form select.form-control {
            width: 150px;
        }
}

@media only screen and (min-width:1200px){
        /* styles for browsers larger than 960px; */
        .navbar-form select.form-control {
            width: 110px;
        }
}

@media only screen and (max-width:768px){
    .navbar-header h4{
        font-size: 0.9em;
        padding: 18px 10px;
    }
}

@media only screen and (max-width:400px){
    .navbar-header h4{
        display: none;
    }
}

@media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }
    @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
    }
    @media only screen and (device-width:768px){
       /* default iPad screens */
    }
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }
}