body{
    background-color: #3f4545;
    text-shadow: none;
}

.navbar{
    background-image: url(/img/menu_grid_top.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-color: #3f4545;
    border: none;
    height: 100%;
}

.navbar-brand{
    background-color: #3f4545;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-position: 20% 38%;
    width: 180px;
}

.navbar-brand:hover{
    background-color: #3f4545 !important;
}

.navbar-toggle{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3f4545;
}

.col-xs-12{
    padding: 0px;
    margin: auto;
}

.carousel img{
    margin: auto;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: 400px;
    max-height: 700px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    font-size: 20px;
    opacity: 0.4;
}

.carousel .carousel-caption{
    width: 100%;
    font-weight: bold;
    display: block;
    right: 1%;
    bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    top: 0px;
    left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.carousel .carousel-caption .data{
    display: block;
    width:100%;
    text-align: center;
    font-size: 0.92em;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 5px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.carousel .carousel-caption .price{
    font-family: LilienthalGrotesk;
    width: 25%;
    height: 32px;
    position: relative;
    display: block;
      background: -webkit-linear-gradient(#ed742f, #d9692a); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#ed742f, #d9692a); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#ed742f, #d9692a); /* For Firefox 3.6 to 15 */
      background: linear-gradient(#ed742f, #d9692a); /* Standard syntax */
    border-width: 1px;
    border-style: solid;
    border-color: #d9692a;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 6px;
    top: 0px;
    float: right;
    margin-top:48%;
    z-index: 0;
}

.carousel-control.right, .carousel-control.left{
    background: none;
    z-index:1000;
}

@font-face {
    font-family: LilienthalGrotesk;
    src: url("/fonts/LilienthalGrotesk.otf") format("opentype");
}

.footer{
    background-image: url(/img/menu_grid.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-color: #3f4545;
    border: none;
    height: 20px;
    margin-top: 50px;
}

#searchForm{
    padding: 12px 0 0 2%;
    min-width: 320px;
    margin: auto;
    float: left;
}

#searchForm .form-group{
    margin-left: 5px;
    text-align: center;
}

#search{
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: LilienthalGrotesk;
    background-color: #d9692a;
    border-color: #d9692a;
}

.navbar-collapse.in{
    background-color: #3f4545;
    overflow-y: visible;
}